/* Attribute Selectors ------------- */

.form-contact {



}
#container {
  width:90%;

  max-width: 1200px;
  margin: auto;
}



 input[type="checkbox"], input[type="radio"] {
    float: left;

    width: 20px;

}

 label[for="checkbox"]{
  float:right;

}
