/* Attribute Selectors ------------- */

.form-contact {



}
#container {
  width:90%;

  max-width: 1200px;
  margin: auto;
}



 input[type="checkbox"], input[type="radio"]  {
margin-top: 7px;
width:20px;
}
